<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/proyecto</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">alumno</property>
    <mapping resource="ar/jujuy/pov/modelo/DetalleIngreso.hbm.xml"/>
    <mapping resource="ar/jujuy/pov/modelo/DetalleUnidad.hbm.xml"/>
    <mapping resource="ar/jujuy/pov/modelo/Destino.hbm.xml"/>
    <mapping resource="ar/jujuy/pov/modelo/Marca.hbm.xml"/>
    <mapping resource="ar/jujuy/pov/modelo/EncabezadoIngreso.hbm.xml"/>
    <mapping resource="ar/jujuy/pov/modelo/Rol.hbm.xml"/>
    <mapping resource="ar/jujuy/pov/modelo/Proveedor.hbm.xml"/>
    <mapping resource="ar/jujuy/pov/modelo/DetalleEgreso.hbm.xml"/>
    <mapping resource="ar/jujuy/pov/modelo/TipoProducto.hbm.xml"/>
    <mapping resource="ar/jujuy/pov/modelo/Producto.hbm.xml"/>
    <mapping resource="ar/jujuy/pov/modelo/Usuario.hbm.xml"/>
    <mapping resource="ar/jujuy/pov/modelo/EncabezadoEgreso.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
